:root {
  --bg-color: #2f3136;
  --second-bg-color: #202225;
  --font-color: #dcddde;
  --block-color: #36393f;
  --hover-color: #565b65;
  --main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --second-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

[data-theme="light"] {
  --bg-color: #e4e5f1;
  --second-bg-color: #9394a5;
  --font-color: #202225;
  --block-color: #dcddde;
  --hover-color: #fafafa;
}

body {
  background-color: var(--bg-color);
}

h1 {
  color: var(--font-color);
  font-family: var(--main-font);
}

h2 {
  color: var(--font-color);
  font-family: var(--main-font);
}

h2 a {
  padding: 20px;
  text-decoration: none;
  font-family: var(--main-font);
  background-color: var(--second-bg-color);
  color: var(--font-color);
  display: block;
}

h2 a:hover {
  background-color: var(--hover-color);
}

#searchBar {
  width: 99%;
  font-family: var(--main-font);
  font-size: 18px;
  padding: 11px;
  border: 1px solid var(--block-color);
  background-color: var(--second-bg-color);
  color: var(--font-color);
}

#subpageList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--block-color);
}

#subpageList li a {
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  font-family: var(--second-font);
  color: var(--font-color);
  display: block;
}

#subpageList li a:hover {
  background-color: #565b65;
}